:root {
--body-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
--post-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
--post-text: rgb(54, 52, 52);
--subtitle-text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
--sidebar-background: rgba(225, 143, 111, 0.678);
--post-border: rgb(225, 143, 111);
--body-background:rgb(170, 183, 220);}


body {background: var(--body-background);
font-family: var(--body-font);
animation-name: fade;
animation-duration: 3s;}
.sidebar {background: var(--sidebar-background);
font-family: var(--post-font);
color: var(--post-text);
}

.post{border: 4px solid var(--post-border);
padding: 4px;
margin: 3.5px;}

a {text-decoration: none;
font-weight: bold;}

a:hover {color: rgb(122, 192, 239);
transition: .5s;}

.subtitle {font-family: var(--subtitle-text);}

.large-container {display: grid;
grid-template-columns: 70% 30%;}

.image-grid {display: flex;
flex-wrap: wrap;
justify-content: center;}

.image-grid > img {width: 400px;
height: 300px;
margin: 7px;}

.image-grid > img:hover {width: 500px;
height: 400px;
transition: .5s all; }

#image-1 {width: 400px;
height: 300px;
float: right;
margin: 15px;}

@keyframes fade { from {opacity: 0;}
    to{opacity: 1;}
    
}